.advantages {
  background-color: #ffffff;
  padding: 60px 0 0 0;
}

.advantages__wrapper-text {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__text {
  font-size: 24px;
  font-weight: 300;
  color: #283645;
  max-width: 215px;
  text-align: center;
  margin-bottom: 40px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  margin-bottom: 20px;
}

.advantages__item-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #283645;
  text-align: center;
  max-width: 268px;
  margin-bottom: 40px;
}

.advantages__content-wrapper {
  background-color: #f2f2f2;
}

.advantages__item-pictures {
  display: flex;
  justify-content: center;
}
.advantages__item--main {
  display: none;
}

@media(min-width: $tablet-width) {
  .advantages__text {
    font-size: 40px;
  }

  .advantages__text:first-child {
    max-width: 593px;
    margin-bottom: 0;
  }

  .advantages__text:nth-child(2) {
    max-width: 352px;
  }

  .advantages__content-wrapper {
    display: flex;
    justify-content: center;
  }

  .advantages__item-pictures {
    order: -1;
    margin-right: 43px;
  }

  .advantages__item {
    align-items: flex-start;
  }

  .advantages__item-text {
    text-align: left;
  }

  .advantages__item--main {
    display: flex;
  }

  .advantages__item-link {
    font-size: 14px;
    line-height: 24px;
    color: #d22856;
    font-weight: 400;
    text-decoration: underline;
  }

}

@media(min-width: $desktop-width) {
  .advantages {
    padding: 80px 0 0 0;
  }

  .advantages__text {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 80px;
  }

  .advantages__text:first-child {
    max-width: 745px;
    margin-bottom: 0;
  }

  .advantages__text:nth-child(2) {
    max-width: 440px;
  }

  .advantages__item-pictures {
    display: none;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advantages__item::before {
    content: "";
    display: block;
    width: 292px;
    height: 302px;
    margin-bottom: 55px;
  }

  .advantages__item--first::before {
    background: url("../images/pictures/advantages/Iphone-screen-1.png");
  }

  .advantages__item--second::before {
    background: url("../images/pictures/advantages/Iphone-screen-2.png");
  }

  .advantages__item--third::before {
    background: url("../images/pictures/advantages/Iphone-screen-3.png");
  }

  .advantages__item--main {
    width: 100%;
    flex-direction: row;
    
    &::before {
      width: 298px;
      height: 345px;
      margin-right: 70px;
      background: url("../images/pictures/advantages/timer.png");
      flex-shrink: 0;
    }

    .advantages__title {
      max-width: none;
      text-align: left;
    }

    .advantages__item-text {
      max-width: none;
      text-align: left;
    }
  }

  .advantages__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    max-width: 230px;
  }

  .advantages__item-text {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
  }

  .advantages__item-link {
    font-size: 18px;
    line-height: 30px;
  }
}
