.contact__text {
  font-size: 24px;
  font-weight: 300;
  color: #283645;
  text-align: center;
}

.contact__text:last-of-type {
  margin-bottom: 40px;
}

.contact__subtext {
  font-size: 18px;
  font-weight: 700;
  color: #283645;
  text-align: center;
  margin-bottom: 3px;
}

.contact__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.contact__link {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
  text-align: center;
  line-height: 26px;
}

.contact__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

@media(min-width: $tablet-width) {
  .contact__text {
    font-size: 40px;
  }

  .contact__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contact__list-item:nth-child(1),
  .contact__list-item:nth-child(2) {
    width: 50%;
    margin-bottom: 49px;
  }

  .contact__list-item:nth-child(3) {
    flex-grow: 1;
    margin-bottom: 13px;
  }

  .contact__subtext {
    margin-bottom: 15px;
  }
}

@media(min-width: $desktop-width) {
  .contact__text {
    font-size: 50px;
    
    &:last-of-type {
      margin-bottom: 56px;
    }
  }

  .contact__list {
    width: 100%;
    justify-content: space-around;
  }

  .contact__list-item {
    
    &:nth-child(1) {
      width: auto;
      flex-grow: 0;
      order: 1;
      margin-right: 39px;
    }

    &:nth-child(2) {
      width: auto;
      flex-grow: 0;
      order: 3;
    }

    &:nth-child(3) {
      flex-grow: 0;
      width: auto;
      order: 2;
    }
  }

  .contact__subtext {
    margin-bottom: 30px;
  }
}
