.contact__text {
  font-size: 24px;
  font-weight: 300;
  color: #283645;
}

.contact__subtext {
  font-size: 18px;
  font-weight: 700;
  color: #283645;
}

.contact__link {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
}

.contact__list-item {
  display: flex;
  flex-direction: column;
}

@media(min-width: $mobile-width) {
  .contact__list {
    display: flex;
    flex-wrap: wrap;
  }

  .contact__list-item:nth-child(1),
  .contact__list-item:nth-child(2) {
    width: 50%;
  }

  .contact__list-item:nth-child(3) {
    flex-grow: 2;
  }
}
