.filter__body {
  background-color: #f2f2f2;
  margin: 0 -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 0 40px 0;
}

.filter__image-wrapper {
  margin-bottom: 40px;
}

.filter__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: none;
}

.filter__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  border-bottom: 1px solid #f2f2f2;
  margin-right: 35px;

  &:nth-child(3) {
    margin-right: 0;
  }

  &:last-child {
    border-bottom: 1px solid #dddfe0;
    width: 100%;
    margin-bottom: 38px;
    margin-right: 0;
  }
}

//-----------------Сброс базовых стилей для input type="range"-----------------------//

input[type=range] {
  -webkit-appearance: none; /* Скрывает слайдер, чтобы можно было создать свой */
  width: 100%; /* Указание параметра ширины требуется для Firefox. */
}
 
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
 
input[type=range]:focus {
  outline: none; /* Убирает голубую границу у элемента. Хотя, возможно, и стоит создавать некоторое оформления для состояния фокуса в целях обеспечения доступности. */
}
 
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Скрывает слайдер, чтобы можно было добавить собственные стили. */
  border-color: transparent;
  color: transparent;
}

//-----------------Стили для input type="range" шкала--------------------------------//
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #283645;
}

//-----------------Стили для input type="range" ползунок--------------------------------//
input[type=range]::-webkit-slider-thumb {
  position: relative;
  top: 9px;
  left: 0;
  -webkit-appearance: none;
  border: 2px solid #d22856;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* Вам нужно указать значение для поля в Chrome, но в Firefox и IE это происходит автоматически */
  
  &:hover {
    background: #d22856;
  }
  
  &:active {
    background: #d22856;
  }
}

.filter__icon {
  height: 46px;
  fill: #b5b9be;

  &--corp {
    width: 45px;
  }

  &--fill {
    width: 48px;
  }

  &--contrast {
    width: 32px;
  }
}

.filter__input {
  max-width: 240px;
  
  // &--hide {
  //   display: none;
  // }
}

.filter__button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter__button {
  padding: 15px 15px;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  outline: none;
  width: 280px;

  &--post {
    border-color: #d22856;
    color: #d22856;
    margin-bottom: 15px;

    &:hover {
      border-color: #d22856;
      color: #ffffff;
      background-color: #d22856;
    }

    &:active {
      color: #e08195;
    }
  }

  &--cancel {
    color: #dddfe0;
    border-color: #dddfe0;

    &:hover {
      border-color: #b5b9be;
      color: #b5b9be;
    }

    &:active {
      background-color: #b5b9be;
      color: #cdd0d3;
    }
  }
}

// ФИЛЬТР ДЛЯ МОБИЛЬНОЙ ВЕРСИИ
.filter__list-mobile {
  position: relative;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 38px;
  padding: 0 20px;
}

@media(max-width: 659px) {
.filter__form-wrapper-list-mobile {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 35px; 
    
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 4px;
      width: 100%;
      height: 1px;
      background-color: #dddfe0;
    }
}
}

.filter__item-mobile {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

input[type="radio"]:checked + label svg {
  fill: #d22856;
}

input[type="radio"]:checked ~ .filter__input-wrapper {
  display: block;
}

.filter__input-wrapper {
  display: none;
}

.filter__label-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 42px;
  width: 50px;
}

.filter__scale {
  width: 100%;
  max-width: 240px;
  height: 2px;
  background-color: #283645;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 14px;
    height: 14px;
    border: 2px solid #d22856;
    background-color: #ffffff;
    border-radius: 50%;
  }
}

.filter__input-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 0 20px;
}

.filter__input-range {
  width: 100%;
}

@media(min-width: $tablet-width) {
  .filter__form {
    width: auto;
  }

  .filter__list-mobile {
    display: none;
  }

  .filter__image-wrapper {
    margin-right: 45px;
    margin-bottom: 0;
  }

  .filter__body {
    flex-direction: row;
    padding: 60px 0 55px 0;
  }

  .filter__list {
    width: 275px;
    margin-bottom: 35px;
    display: block;
  }

  .filter__item {
    width: 275px;
    margin-right: 0;
    border-bottom: 1px solid #dddfe0;
    flex-direction: row;
    padding: 25px 0;
    justify-content: flex-start;

    &:nth-child(1) {
      padding-top: 0;
    }
  }

  .filter__icon-container {
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  .filter__icon {
    width: 24px;
    height: 24px;
    fill: #d22856;

    &--contrast {
      width: 17px;
      height: 17px;
    }
  }

  .filter__input {
    max-width: 202px; 
  }

  .filter__button {
    width: 260px;

    &--post {
      margin-bottom: 25px;
    }
  }
}

@media(min-width: $desktop-width) {
  .filter__body {
    margin: 0;
    padding: 55px 60px 55px 80px;
    justify-content: flex-start;
  }

  .filter__image-wrapper {
    margin-right: 90px;
  }

  .filter__list {
    width: 415px;
    margin-bottom: 140px;
  }

  .filter__item {
    width: 415px;
    justify-content: flex-start;
    padding: 15px 0;
  }

  .filter__icon-container {
    width: 50px;
    margin-right: 45px;
  }

  .filter__icon {

    &--corp {
      width: 45px;
      height: 45px;
    }

    &--fill {
      width: 48px;
      height: 43px;
    }

    &--contrast {
      width: 33px;
      height: 32px;
    }
  }

  .filter__input {
    max-width: 290px;
  }

  .filter__button-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .filter__button {
    width: 185px;
    margin: 0 40px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &--cancel {
      margin-right: 0;
    }
  }
}