.greeting {
  background-color: #222e3b;
  background: url("../images/background/back-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;
  padding-bottom: 460px;
}

.greeting__heading {
  font-size: 50px;
  font-weight: 300;
  color: #ffffff;
}

