.greeting {
  background-color: #222e3b;
  background: url("../images/background/back-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 175px;

  &--form {
    padding: 100px 0 50px 0;
  }

  &--photo {
    padding: 100px 0 85px;
  }
}

.greeting__heading {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  max-width: 230px;
  text-align: center;
  margin: 0 auto;
}

@media(min-width: $tablet-width) {
  .greeting {
    padding-top: 73px;

    &--form {
      padding: 190px 0 70px 0;
    }
  }

  .greeting__heading {
    font-size: 50px;
    max-width: 480px;
  }
}

@media(min-width: $desktop-width) {
  .greeting {
    padding-top: 100px;

    &--form {
      padding: 180px 0 100px 0;
    }
  }

  .greeting__heading {
    max-width: 748px;
  }
}


