.location {
  position: relative;
  min-height: 219px;
  background: url("../images/pictures/location/bg-map-mobile@1x.jpg") no-repeat center;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    background: url("../images/svg/icon-map-marker.svg") no-repeat center;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url("../images/svg/triangle-footer.svg") no-repeat center top;
    background-size: contain;
  }
}

@media(min-width: $tablet-width) {
  .location {
    min-height: 219px;
    background: url("../images/pictures/location/bg-map-tablet@1x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
  }
}

@media(min-width: $desktop-width) {
  .location {
    min-height: 219px;
    background: url("../images/pictures/location/bg-map-desktop@1x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 520px;
  }
}