.navigation {
  display: none;
}

.navigation__list {
  position: relative;
  margin: 21px -20px 0;
  border-top: 1px solid #000000; 
}

.navigation__item {
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  background-color: #283645;
  padding: 20px 0;
}

.navigation__link {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 32px;
  display: block;
  text-align: center;
  font-size: 18px;
}

@media(min-width: $desktop-width) {
  .navigation__list {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: none;
  }

  .navigation__item {
    background-color: transparent;
    border: none;
  }

  .navigation__link {
    position: relative;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: none;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: transparent;
    }
  
    &--active {
      cursor: default;
      
      &::after {
        background-color: #ffffff;
      }
    }
  
    &:not(&--active):hover {
      color: #d22856;
    }
  }

  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
}
