.page-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px 0;
}

@media(max-width: 959px) {
  .page-header--menu-opened {
  position: relative;
  padding-bottom: 0;
  background-color: #283645;
  
  .navigation__list {
    display: block;
  }
}
}

// .page-header--menu-opened {
//   position: relative;
//   padding-bottom: 0;
//   background-color: #283645;

//   .navigation__link {
//     font-size: 18px;

//     &::after {
//       display: none;
//     }
    
//   }
//   .navigation__list {
//     display: block;
//   }

//   .navigation__item {
//     padding: 2px 0;
//   }
// }

.page-header__logo-link {
  display: inline-block;
  margin-right: auto;

  &:hover {
    svg {
      fill: #d22856;
    }
  }
}

.page-header__logo-icon-mobile {
  width: 77px;
  height: 23px;
}

.page-header__logo-icon-tablet {
  width: 150px;
  height: 43px;
  display: none;
}

.page-header__logo-icon-desktop {
  width: 150px;
  height: 43px;
  display: none;
  fill: #ffffff;
}

.page-header__button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 24px;
  outline: none;

  &::before,
  &::after {
    content: "";
    position: absolute; 
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 10px 0 0 #ffffff;
  }

  &--opened {
    width: 30px;

    &::before {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
  
    &::after {
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
      box-shadow: none;
    }
  }
}

@media(min-width: $tablet-width) {
  .page-header {
    padding: 25px 0 40px 0;
  }

  .page-header__logo-icon-mobile {
    display: none;
  }

  .page-header__logo-icon-tablet {
    display: block;
  }

  .page-header__button {
    top: 40px;
  }
}

@media(min-width: $desktop-width) {
  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__logo-link {
    margin: 0;
    margin-right: auto;
  }

  .page-header__logo-icon-tablet {
    display: none;
  }

  .page-header__logo-icon-desktop {
    display: block;
  }

  .page-header__button {
    display: none;
  }
}

