.page-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px 0;
}

.page-header--menu-opened {
  padding-bottom: 0;
  background-color: #283645;
  .navigation__list {
    display: block;
  }
}

.page-header__logo-link {
  display: inline-block;
  margin-right: auto;
}

@media(min-width: $tablet-width) {
 .page-header {
    padding: 25px 20px 40px;
 }
}

@media(min-width: $desktop-width) {
  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__logo-link {
    margin: 0;
    margin-right: auto;
  }
}

