.photo {
  // TODO

  &__agitation {
    line-height: 30px;
    font-weight: 400;
    color: #283645;
    max-width: 245px;
    margin: 0 auto;
    text-align: center;
  }
  
  &__top {
    position: relative;
  }
  
  &__label {
    position: absolute;
    display: block;
    width: 140px;
    height: 35px;
    background-color: #d22856;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    right: 20px;
    padding: 6px 0;
  }
  
  &__image {
    width: 100%;
  }
  
  &__item {
    margin-bottom: 20px;
  
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &__quote {
    background-color: #f2f2f2;
    margin: 0;
    padding: 25px 23px 25px 18px;
  
    &--top {
      width: calc(100% - 40px);
      margin: 0 auto 20px;
    }
  }
  
  &__autor {
    line-height: 24px;
    font-weight: 700;
    color: #283645;
    font-style: normal;
  }
  
  &__time {
    font-size: 12px;
    line-height: 24px;
    font-weight: 300;
    color: #283645;
    text-transform: uppercase;
  }
  
  &__text-comment {
    line-height: 24px;
    font-weight: 400;
    color: #283645;
    max-width: 243px;
    margin-bottom: auto;
  }
  
  &__like-wrapper {
    display: flex;
    align-items: center;
  }
  
  &__button-like {
    width: 12px;
    height: 13px;
    background: url("../images/svg/icon-heart.svg") no-repeat center;
    margin-right: 18px;
  }
  
  &__like {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    color: #d22856;
    text-transform: uppercase;
  }
}






@media(min-width: $tablet-width) {
  .photo {
    // padding: 100px 0 80px 0;

    &__agitation {
      font-size: 18px;
      max-width: 440px;
      padding: 95px 0 80px;

      &--bottom {
        padding: 70px 0;
      }
    }
   
    &__quote {
      display: flex;
      flex-direction: column;
      min-height: 155px;
  
      &--top {
        max-width: 620px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
      }
    }

    &__post-wrapper {

      &--top {
        order: 1;
        margin-right: auto;
      }
    }

    &__text-comment {

      &--top {
        max-width: 510px;
        order: 3;
      }
    }

    &__label {
      top: 55px;
    }
  
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    &__item {
      width: 300px;
      margin: 10px 10px;
  
      &--main {
        width: 100%;
        margin: 0 0 10px 0;
        position: relative;
      }
    
      &--main::before {
        content: "панорама дня";
        position: absolute;
        top: 55px;
        right: 20px;
        width: 140px;
        height: 35px;
        background-color: #d22856;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        font-size: 12px;
        line-height: 24px;
        font-weight: 700;
        padding: 6px 0;
      }
    }
  
    &__like-wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      &--top {
        order: 2;
      }
    }

    &__like {

      &--top {
        margin-right: 15px;
      }
    }
  
    &__button-like {
      margin: 0;
    }
  }

  

  
}

@media(min-width: $desktop-width) {
  
  .photo__agitation {
    max-width: 580px;

    &--bottom {
      padding: 55px 0 70px 0;
    }
  }

  .photo__list {
    justify-content: space-between;
  }
  
  .photo__quote {
    
    &--top {
      max-width: 940px;
    }
  }

  .photo__text-comment {

    &--top {
      max-width: 865px;
    }
  }

  .photo__item {
    margin: 25px 0;
  }

}
