.photo {
  padding: 55px 0 50px;
}

.photo__agitation {
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  max-width: 245px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 55px;
}

.photo__quote {
  background-color: #f2f2f2;
  margin: 0;
  padding: 25px 23px 25px 18px;
}

.photo__autor {
  line-height: 24px;
  font-weight: 700;
  color: #283645;
  font-style: normal;
}

.photo__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: #283645;
  text-transform: uppercase;
}

.photo__text-comment {
  line-height: 24px;
  font-weight: 400;
  color: #283645;
  max-width: 243px;
}

.photo__like {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
}
