.photo__agitation {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

.photo__quote {
  background-color: #f2f2f2;
}

.photo__autor {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #283645;
  font-style: normal;
}

.photo__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: #283645;
  text-transform: uppercase;
}

.photo__text-comment {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
}

.photo__like {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
}
