.price {
  background-image: linear-gradient(175deg, #ffffff 75px, #f2f2f2 76px);
  padding: 139px 0 35px 0;
  margin-bottom: 40px;
}

.price__table-wrapper {
  overflow: hidden;
  margin: 0 -20px;
  margin-bottom: 25px;
}

.price__table {
  position: relative;
  display: table;
  border-collapse: collapse;
  left: 50%;
  transform: translateX(-50%);
}

.price__title,
.price__cell {
  min-width: 280px;
}

.price__row {
  display: table-row;
}

.price__cell {
  display: table-cell;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  text-transform: uppercase;
  padding: 16px 15px 12px 23px;
  border: 2px solid #e5e5e5;
  text-align: left;
  background-color: #ffffff;
}

.price__cell-container {
  display: flex;
  justify-content: space-between;
}

.price__cell-option {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

.price__cell-icon {
  width: 35px;
  height: 30px;
  display: inline-block;
  background: url("../images/svg/yes.svg");
  background-repeat: no-repeat;
  background-position: center;

  &--not {
    background: url("../images/svg/no.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.price__cell:first-child {
  display: none;
}

.price__title {
  position: relative;
  background-color: #283645;
  padding: 17px 25px;
  overflow: hidden;
}

.price__title-wrapper {
  display: flex;
  flex-direction: column;
}

.price__title-label {
  position: absolute;
  width: 100px;
  height: 30px;
  background-color: #d22856;
  color: #ffffff;
  line-height: 30px;
  top: 10px;
  left: -25px;
  transform: rotate(-45deg);
}

.price__title:nth-child(3) {
  border-left: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
}

.price__title:first-child {
  display: none;
}

.price__title-package {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.price__title-cost {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
}

@media(min-width: $tablet-width) {
  .price {
    margin-bottom: 48px;
    padding: 118px 0 75px 0;
  }

  .price__table-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 0; 
  }

  .price__table {
   position: static;
   left: -50%;
   transform: none;
   width: 620px;
  }

  .price__title,
  .price__cell {
    min-width: 0;
  }

  .price__title {
    width: 154px;
    padding: 8px 31px;
  }

  .price__cell {
    width: 154px;
    padding: 6px 6px;
    text-transform: none;
  }

  .price__title-label {
    width: 85px;
    top: 5px;
  }

  .price__title-package {
    font-size: 16px;
    line-height: 30px;
  }

  .price__title-cost {
    font-size: 18px;
  }

  .price__cell:first-child {
    display: table-cell;
  }

  .price__title:first-child {
    display: block;
    background-color: transparent;
  }

  .price__cell-container {
    justify-content: center;
  }

  .price__cell-option {
    display: none;
  }
}

@media(min-width: $desktop-width) {
  .price {
    padding: 154px 0 98px 0;
    background-image: linear-gradient(176deg, #ffffff 134px, #f2f2f2 135px);
    margin-bottom: 68px;

    &__table-wrapper {
      margin: 0;
    }
  
    &__table {
      width: 940px;
    }
  
    &__title {
      width: 236px;
      padding: 18px 31px;
    }
  
    &__title-cost {
      font-size: 24px;
      line-height: 30px;
    }
  
    &__cell {
      width: 234px;
      padding: 14px 21px;
      font-size: 18px;
    }
  }
}
