.price {
 
}

.price__table-wrapper {
  overflow: hidden;
}

.price__table {
  position: relative;
  display: table;
  border-collapse: collapse;
  margin-bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.price__title,
.price__cell {
  min-width: 280px;
}

.price__row {
  display: table-row;
}

.price__cell {
  display: table-cell;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  text-transform: uppercase;
  padding: 25px 15px 25px 23px;
  border: 2px solid #f2f2f2;
  text-align: left;
}

.price__cell-container {
  display: flex;
  justify-content: space-between;
}

.price__cell-option {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

.price__cell-icon {
  width: 35px;
  height: 30px;
  display: inline-block;
  background: url("../images/svg/yes.svg");
  background-repeat: no-repeat;
  background-position: center;

  &--not {
    background: url("../images/svg/no.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.price__cell:first-child {
  display: none;
}

.price__title {
  background-color: #283645;
  padding: 25px 25px;
}

.price__title-wrapper {
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.price__title:nth-child(3) {
  border-left: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
}

.price__title:first-child {
  display: none;
}

.price__title-package {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.price__title-cost {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
}

@media(min-width: $tablet-width) {
  .price__table-wrapper {
    display: flex;
    justify-content: center;
  }

  .price__table {
   position: static;
   left: -50%;
   transform: none;
   width: 620px;
  }

  .price__title,
  .price__cell {
    min-width: 0;
  }

  .price__title {
    padding: 20px 35px;
  }

  .price__cell {
    padding: 15px 20px 15px 15px;
  }

  .price__title-package {
    font-size: 16px;
    line-height: 30px;
  }

  .price__title-cost {
    font-size: 18px;
  }

  .price__cell:first-child {
    display: table-cell;
  }

  .price__title:first-child {
    display: block;
    background-color: transparent;
  }

  .price__cell-container {
    justify-content: center;
  }

  .price__cell-option {
    display: none;
  }


}
