.profile {
  padding: 55px 0 0px 0;
}

.profile__title {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  text-align: center;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.profile__title--text { 
  display: none;
}

.profile__label {
  line-height: 30px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
  margin: 0 0 15px 20px;
}

.profile__field {
  padding: 22px 20px;
}

.profile__field,
.profile__field-textarea {
  border: 2px solid #e5e5e5;
}

.profile__field-textarea {
  padding: 23px 20px;
  width: 100%;
  height: 200px;
}

.profile__field[placeholder],
.profile__field-textarea[placeholder] {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #283645;
}

.profile__legend {
  line-height: 18px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
  max-width: 223px;
  width: 100%;
  text-align: center;
  display: block;
  margin-bottom: 18px;

  &--contact {
    display: none;
  }

  &--mobile {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.profile__label-checkbox,
.profile__label-radio {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

.profile__label-radio {
  position: relative;
  padding-left: 71px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    display: inline-block;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
  }
}

input[type="radio"]:checked + .profile__label-radio::before {
  background: url("../images/pictures/profile/Shape.png") no-repeat center;
  background-color: #ffffff;
}

.profile__label-radio:not(:checked)::before {
  background-color: #ffffff;
}

.profile__label-radio:hover::before {
  border-color: #283645;
}

.profile__label-radio:active::before {
  border-color: #d22856;
}

.profile__item {
  display: flex;
  align-items: center;
}

.profile__item:not(:last-child) {
  margin-bottom: 40px;
}

.profile__input-checkbox + label {
  position: relative;
  padding-left: 70px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
  }
}

.profile__input-checkbox:checked + label::before {
  background: url("../images/svg/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.profile__button {
  display: block;
  background-color: #2aab6d;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  padding: 20px 45px;
  outline: none;
  margin: 0 auto;
  margin-bottom: 45px;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    color: #7dbd99;
  }
}

.profile__wrapper-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;
}

.profile__group {
  position: relative;
  border: none;
  margin: 0;
  margin-bottom: 40px;
  display : block;
}

.profile__button-wrapper {
  margin-bottom: 60px;
}

.profile__hint {
  display: block;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  text-transform: uppercase;
}

.profile__hint-icon {
  color: #d22856;
}

.profile__group--radio,
.profile__group--checkbox {
  background-color: #f2f2f2;
}

.profile__group--checkbox {
  padding-bottom: 40px;
  padding-top: 110px;
}

.profile__group--radio {
  padding-top: 110px;
  padding-bottom: 40px;
}

@media(min-width: $tablet-width) {
  .profile__title {
    font-size: 18px;
    max-width: 495px;

    &--text {
      display: inline-block;
    }
  }

  .profile__form {
    display: flex;
    flex-direction: column;
  }

  .profile__group--radio,
  .profile__group--checkbox {
    background-color: #ffffff;
  }

  .profile__group {
    margin-bottom: 60px;

    &--radio {
      padding: 50px 0 55px 55px;
    }

    &--contact {
      padding: 45px 55px 30px;
    }

    &--checkbox {
      padding: 45px 0 45px 55px;
    }

    &--textarea {
      padding: 45px 55px 50px;
    }
  }

  .profile__group:not(:first-child) {
    border: 2px solid #e5e5e5;
    position: relative;
  }

  .profile__group--radio {
    order: -2;
    background-color: transparent;
  }

  .profile__group--contact {
    order: -1;
  }

  .profile__group--initial {
    order: -3;
  }

  .profile__legend {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    background-color: #ffffff;
    max-width: none;
    width: auto;
    padding: 0 20px;

    &--contact {
      display: block;
    }
  }

  .profile__wrapper-field {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

    &--contact {
      flex-direction: column-reverse;
      position: relative;
    }
  }

  .profile__label {
    margin: 0 19px 0 0;

    &--contact-phone::before {
      background: url("../images/svg/icon-phone.svg") no-repeat center;
    }

    &--contact-mail::before {
      background: url("../images/svg/icon-mail.svg") no-repeat center;
    }


    &--contact {
      margin: 0 0 20px 20px;
      
      &::before {
        content: "";
        position: absolute;
        width: 62px;
        height: 63px;
        background-color: #e5e5e5;
        top: 0;
        right: 0;
      }
    }
  }

  .profile__label--contact-mail {
    margin-bottom: 0;
  }

  .profile__field {
    width: 100%;
    padding: 15px 0 15px 22px;
  }

  .profile__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .profile__button {
    margin: 0;
    padding: 20px 55px;
  }
}

@media(min-width: $desktop-width) {
  .profile__title {
    max-width: 755px;
  }

  .profile__form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .profile__group--initial,
  .profile__group--radio {
    width: 436px;
  }

  .profile__group--checkbox,
  .profile__group--contact,
  .profile__group--textarea {
    width: 100%;
  }

  .profile__group--initial {
    margin-right: auto;
  }

  .profile__wrapper-field--initial:not(:last-child) {
    margin-bottom: 50px;
  }

  .profile__wrapper-field--contact {
    margin: 0;
  }
  
  .profile__group-wrapper-contact {
    display: flex;
    align-items: baseline;
  }

  .profile__wrapper-field {
    width: 375px;

    
    &:nth-child(1) {
      margin-right: auto;
    }
  }
  
}