.reviews {
  padding: 45px 0 0 0;
}

.reviews__list {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.reviews__autor {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
  color: #000000;
  text-align: center;
  margin-bottom: 14px;
}

.reviews__text {
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  max-width: 280px;
  text-align: center;
}

.reviews__blok {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.reviews__autor-subtext {
  display: none;
}

.reviews__button {
  display: none;
}

@media(min-width: $tablet-width) {
  .reviews__text {
    font-size: 18px;
    line-height: 30px;
    order: -1;
    max-width: 620px;
    margin-bottom: 34px;
  }

  .reviews__autor {
    font-size: 20px;
    margin-bottom: 3px;
  }

  .reviews__autor-subtext {
    display: block;
    text-align: center;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
  }
}

@media(min-width: $desktop-width) {
  .reviews {
    padding: 69px 0 0 0;

    .container {
      position: relative;
    }
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      width: 79px;
      height: 63px;
      background: url("../images/svg/icon-quotes.svg") no-repeat center;
      margin-bottom: 52px;
    }
  }

  .reviews__text {
    max-width: 690px;
  }

  .reviews__autor {
    font-size: 24px;
    line-height: 30px;
  }

  .reviews__autor-subtext {
    font-size: 18px;
    line-height: 30px;
  }

  .reviews__button{
    display: block;
    position: absolute;
    width: 22px;
    height: 42px;
    top: 54%;
    transform: translateY(-54%);
    outline: none;

    &--prev {
      left: 7px;
    }

    &--next {
      right: 7px;
    }
  }

  .reviews__icon {
    fill: #bec2c7;

    &:hover {
      fill: #7e868f;
    }
  }
}
