@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Open-Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

.navigation {
  background: #283645; }

.navigation__link {
  font-family: "Open-Sans", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 32px; }

.page-header {
  background: #283645; }

.download__button {
  font-family: "Open-Sans";
  font-weight: 700;
  color: #ffffff;
  line-height: 18px; }

.download__text {
  font-family: "Open-Sans";
  font-weight: 300;
  line-height: 24px;
  color: #6a6a6a; }

.download {
  background-color: #1d2631; }

.download__item--apple {
  background: url("../images/svg/apple.svg") no-repeat left top; }

.download__item--android {
  background: url("../images/svg/android.svg") no-repeat left top; }

.download__item--windows {
  background: url("../images/svg/windows.svg") no-repeat left top; }

.greeting {
  background: url("../images/background/greetingbackground.jpg"); }

.advantages__wrapper-text {
  background-color: #ffffff; }

.advantages__text {
  font-family: "Open-Sans", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #283645; }

.advantages__title {
  font-family: "Open-Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000; }

.advantages__list {
  background-color: #f2f2f2; }

.advantages__item-text {
  font-family: "Open-Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #283645; }

.reviews__autor {
  font-family: "Open-sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  font-style: normal;
  color: #000000; }

.reviews__text {
  font-family: "Open-sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #283645; }

.contact__text {
  font-family: "Open-sans", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #283645; }

.contact__subtext {
  font-family: "Open-sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #283645; }

.contact__link {
  font-family: "Open-sans", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #d22856; }
